.game {
    position: relative;
    border: 1px solid black;
    width: 500px; 
    height: 500px;
}

.player {
    position: absolute;
}

.player .name {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
}

.comida {
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
}