<ng-container *ngIf="player">
  <div class="game">
    <div [id]="'id_' + player.username" class="player" [ngStyle]="{
      'left.px': player.x,
      'top.px': player.y,
      'background-color': player.color,
      'z-index': 1,
      'width.px': player.radius * 2,
      'height.px': player.radius * 2
    }">
      <strong class="name">{{ player.username }}</strong>
    </div>
  
    <div *ngFor="let item of players" class="player" [ngStyle]="{
      'left.px': item.x,
      'top.px': item.y,
      'background-color': item.color,
      'width.px': item.radius * 2,
      'height.px': item.radius * 2
    }">
      <span class="name">{{ item.username }}</span>
    </div>

    <div *ngFor="let comida of comidas" [id]="'id_' + comida.id" class="comida" [ngStyle]="{'left.px': comida.x, 'top.px': comida.y }"></div>
  </div>
  
  
  <p>
    <strong>Instruções</strong>: Coma as comidas <br/>
    <strong>Controles</strong>: W A S D
  </p>
  
  <strong>Players conectados</strong>
  <ul>
    <li><strong>{{ player.username }}</strong> - Pontuação: {{ player.score }}</li>
    
    <li *ngFor="let item of players">
      {{ item.username }} - Pontuação: {{ item.score }}
    </li>
  </ul>
</ng-container>



